<footer>
  <div id="Footer" class="d-flex f-col align-center footer">
    <p>
      yngDevNation is a society of yng developers and organizers that develop applications and services
      for the people. It's a nonprofit organization ran on a volunteer-only manner. Your contributions
      are welcome and will go towards supporting our developers and creating dope shit.
    </p>
    <a target="_blank" href="https://cash.app/$yngdevnation"><button class="btn btn-primary random-btn donate-btn" type="button" name="button">Donate</button></a>
    <p>
      Are you a developer, organizer, or designer interested in creating dope things for the people?
      Drop your email below and we'll be in contact.
    </p>
    <form class="email" action="https://formspree.io/mqkywbdz" method="post">
      <input name="email" type="email" value="" placeholder="Email...">
      <!-- ngModel name="email" #email="ngModel"  -->
    </form>
  </div>

</footer>